
body {
    background-color: #0a0a0a;
    background-image: url('bg-gradiant.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60%;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {

    font-family: 'Raleway', sans-serif;

}

h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}

h4{
    font-size: medium;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 150px;
}

.about-content{
    margin-top: 120px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.primarytitle {
    font-size: 80px;
    color: #ffc300;
    margin-bottom: 20px;
}
.secondarytitle{
    color: #ffc300;
    font-weight: 600;
    margin-bottom: 20px;
}

.hometext {
    font-size: 25px;
    color: #fbfbfb;
    margin-top: 40px;
    margin-bottom: 40px;
}

.entirepage {
    height: 100vh;
    position: relative;
}

.mainbutton {
    font-size: 30px;
    border: none;
    padding: 25px 50px;
    background-color: #ffc300;
    color: #0a0a0a;
    border-radius: 100px;
    margin-top: 40px;
    cursor: pointer;
    &:hover {
        background-color: #ffd344;
    }
    &:active {
        background-color: #e7a600;
    }
}

/* form page */
.container {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 30px;
}

