body {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #0A0A0A;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
}

.logo img {
  height: 40px;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #FFC300;
}

.nav-link-yellow {
  text-decoration: none;
  background-color: #FFC300;
  color: #0A0A0A;
  font-weight: 500;
  transition: color 0.3s ease;
  width: 75px;
  height: 44px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-yellow:hover {
  background-color: #ffffff;
  color: #0A0A0A;
}

